.Javascript-definition {
  display: none;
}

.Operators-definition {
  display: none;
}

.Variables-definition {
  display: none;
}

.Variable-nam-con-definition {
  display: none;
}

.Functions-definition {
  display: none;
}

.Methods-definition {
  display: none;
}

.Arguments-definition {
  display: none;
}

.Parameters-definition {
  display: none;
}

.Return-definition {
  display: none;
}

.Chaining-definition {
  display: none;
}

.Strings-definition {
  display: none;
}

.Booleans-definition {
  display: none;
}

.Undefined-definition {
  display: none;
}

.NaN-definition {
  display: none;
}

.Escape-definition {
  display: none;
}

.Alert-definition {
  display: none;
}

.Comments-definition {
  display: none;
}

.jQuery-definition {
  display: none;
}

.Attributes-definition {
  display: none;
}
